<div class="container">
    <h2>Profile Info</h2>
  <div class="row">
    <div class="col-25">
      <label for="name">Name :</label>
    </div>
    <div class="col-75">
      <h2>{{professor.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="email">Email : </label>
    </div>
    <div class="col-75">
      <h2>{{professor.email}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="gender">Gender :</label>
    </div>
    <div class="col-75">
      <h2>{{professor.gender}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="number">Number : </label>
    </div>
    <div class="col-75">
      <h2>{{professor.number}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="address">Address : </label>
    </div>
    <div class="col-75">
    <h2 style="height:200px;width: 200px;border: none;">{{professor.address}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="qualification">Qualification : </label>
    </div>
    <div class="col-75">
      <h2>{{professor.qualification}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="coursename">Course Name : </label>
    </div>
    <div class="col-75">
        <h2>{{professor.coursename}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="duration">Duration : </label>
    </div>
    <div class="col-75">
        <h2>{{professor.duration}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="description">Descrption : </label>
    </div>
    <div class="col-75">
        <h2 style="height:200px;width: 200px;border: none;">{{professor.description}}</h2>
    </div>
  </div>
</div>
