<div class="container">
      <h2>Profile Info</h2>
    <div class="row">
      <div class="col-25">
        <label for="name">Name :</label>
      </div>
      <div class="col-75">
        <h2>{{student.name}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="email">Email : </label>
      </div>
      <div class="col-75">
        <h2>{{student.email}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="gender">Gender :</label>
      </div>
      <div class="col-75">
        <h2>{{student.gender}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="number">Number : </label>
      </div>
      <div class="col-75">
        <h2>{{student.number1}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="parentname">Parent Name :</label>
      </div>
      <div class="col-75"><h2>{{student.parentname}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="parentnumber">Parent Number : </label>
      </div>
      <div class="col-75"><h2>{{student.number2}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="address">Address : </label>
      </div>
      <div class="col-75">
  <h2 style="height:200px;width: 200px;border: none;">{{student.address}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="qualification">Qualification : </label>
      </div>
      <div class="col-75">
        <h2>{{student.qualification}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25"><label for="collegename">College name : </label>
      </div>
      <div class="col-75"><h2>{{student.collegename}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="id">University id: </label>
      </div>
      <div class="col-75"><h2>{{student.id}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="city">City: </label>
      </div>
      <div class="col-75"><h2>{{student.city}}</h2>
      </div>
    </div>
</div>

