<header style="position: fixed; width: 100%;"><div class="topnav">
  <a class="active" style="float: left;" href="#">Home</a>
  <a style="float: left;" href="#services">Services</a>
  <a style="float: left;" href="#about">About</a>
  <a style="float: left;" href="#contact">Contact</a>
  <a style="float: left;" href="#reglog">Register</a>
  <a style="float: right;" routerLink="/loginstudent">Student Login</a>
  <a style="float: right;" routerLink="/loginprofessor">Professor Login</a>
</div></header>
<div id="div1" class="col-md-12 "><h1><i class='fas fa-book-reader' style='font-size:100px;padding-right: 20px;'></i>Let's Learn</h1></div><br><br>
<h2>" a platform which makes learning online is easier.
and where you can share your knowledge.
we can ensure you best teaching or learning experience. "<br><br><br><br><br><br>
</h2><hr>
<div id="services"><div><h1 id="h1" style="font-size: 5em; padding-top: 6%; ">Sevices</h1>
<div class="row" style="margin-bottom: 6%;">
  <div class="column s1" style="background-image: url(../../assets/images/s1.PNG);margin-left: 100px;">
  </div>
  <div class="column s1">
    <h2 style="padding-top: 120px;">Courses Created and Curated by India's Best Teachers</h2>
  </div>
  <div class="column s2">
    <h2 style="padding-top: 120px; margin-left: 100px;">Anytime, Anywhere, Anydevice</h2>
  </div>
  <div class="column s2" style="background-image: url(../../assets/images/s2.JPG)">
  </div>
  <div class="column s3" style="background-image: url(../../assets/images/s3.PNG);margin-left: 100px;">
  </div>
  <div class="column s3">
    <h2 style="padding-top: 120px;">Notes - that you can read anytime you like.</h2>
  </div>
  <div class="column s4">
    <h2 style="padding-top: 120px;margin-left: 100px;"> India’s Best Teachers</h2>
  </div>
  <div class="column s4" style="background-image: url(../../assets/images/s4.JPG)">
  </div>
  <div class="column s5" style="background-image: url(../../assets/images/s5.JPG);margin-left: 100px;">
  </div>
  <div class="column s5">
    <h2 style="padding-top: 120px;">One Learning Pass, Entire Platform</h2>
  </div>
</div>
</div><hr>
<div id="about" style="text-align: center;"><h1 id="h1" style="font-size: 5em; padding-top: 15%; ">About us</h1><br><br>
    <h3 id="h3" >Tutor Platform is designed to manage all the teaching and
     learning processes and to save your time for creative outbursts. We offer all the solutions and tools 
     that an educational organization or an individual needs to innovate education. And all of this in affordable prices.
      We are specialized in providing consulting to educational organizations and individuals, developing EdTech software
      and app solutions and tailoring the development to custom needs.</h3><hr style="margin-bottom: 5%;">
</div>
<div id="contact"  ><div><h1 id="h1" style="font-size: 5em; padding-top: 8%; ">Contact</h1>
        <h3 id="h4"style="margin-bottom: 18%;">Hamna Musthafa<br>
            Email: musthafahamna19@gmail.com or<br>
            letslearn@gmail.com
        <br>Contact number: +917034729267 or<br>+918634702627</h3>
</div></div><hr>
<div id="reglog" style="text-align: center; margin-bottom:16%"><h1 id="h1" style="font-size: 5em;  padding-top: 12%; padding-bottom: 6%; ">Register or Login</h1>
            <a class="a2"  routerLink="professorinterface">As a professor</a>
            <a class="a2"   routerLink="studentinterface">As a student</a>
</div>

<div id="try">
<footer >
    <p>©Copyright 2021 letslearn All Rights Reserved<br>
</footer>
</div>