            <div class="profile">
               <div class="profile-header">
                <header style=" width: 100%;"><div class="topnav">
                    <a style="float: left; color: gray;font-size: 1em; font-family: 'Brush Script MT',' Brush Script Std',' cursive' ;"><i class='fas fa-book-reader' style='font-size:24px;padding-right: 10px;'></i>Let's Learn</a>
                    <a style="float: right; color: gray;font-size: 1em;" href="#">LOG-OUT</a>
                    <a style="float: right; color: gray;font-size: 1em;"  (click)="delete()" >DELETE ACCOUNT</a>
                    <a style="float: right; color: gray;font-size: 1em;" routerLink="editstu"  [queryParams]="{ _id: userid.id}">EDIT PROFILE</a>
                  </div></header>
                  <div class="profile-header-cover"></div>
                  <div class="profile-header-content">
                     <div class="profile-header-img">
                        <img [src]=[student.url]>
                     </div>
                     <div class="profile-header-info">
                        <h2 class="m-t-10 m-b-5" style="   margin-top: 30px;">{{student.name}}</h2>
                        <h2 class="m-b-10"> {{student.email}}</h2>
                     </div>
                  </div>
                  <ul class="profile-header-tab nav nav-tabs">
                     <li class="nav-item"><a class="nav-link" data-toggle="tab"(click)="page()">PROFILE</a></li>
                     <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink="courselist"  [queryParams]="{ _id: userid.id}">COURSES LIST</a></li>
                     <li class="nav-item"><a class="nav-link" data-toggle="tab"routerLink="myapplication"  [queryParams]="{ _id: userid.id}" >REGISTERED COURSES</a></li>
                     <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink="myreqapp"  [queryParams]="{ _id: userid.id}">APPLIED COURSES</a></li>
                     <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink="courserej"  [queryParams]="{ _id: userid.id}">REJECTED COURSES</a></li>
                    </ul>
               </div>
            </div>
<router-outlet></router-outlet>
<div id="try">
   <footer >
       <p>©Copyright 2021 letslearn All Rights Reserved<br>
   </footer>
   </div>